tests/integration/src/test/resources/tooling/metadata-app/mule-config.xml
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vegan="http://www.mulesoft.org/schema/mule/vegan"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/vegan http://www.mulesoft.org/schema/mule/vegan/current/mule-vegan.xsd">

    <vegan:apple-config name="veganConfig" parameterizedFunction="#[['Apple' : 'Tasty']]"/>
    <vegan:banana-config name="banana"/>
    <vegan:kiwi-config name="kiwi"/>
    <vegan:peach-config name="peach">
        <vegan:connection/>
    </vegan:peach-config>

    <flow name="appleOk">
        <vegan:eat-apple config-ref="veganConfig"/>
    </flow>

</mule>